<% content_for(:title, @image.title) %>
<p id="notice"><%= notice %></p>
<h1><%= yield(:title) %></h1>
<div class="row">
  <%= image_tag @image.image_url %>
</div>
<div class="row">
	Uploaded on: <%= @image.created_at.to_formatted_s(:long_ordinal) %>
</div>
<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">Image URL</a></dd>
  <dd><a href="#panel2-2">Image HTML</a></dd>
  <dd><a href="#panel2-3">Image BB Code</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    <p><%= "#{Rails.root.to_s}/public" %><%= @image.image_url%></p>
  </div>
  <div class="content" id="panel2-2">
    <p>Second panel content goes here...</p>
  </div>
  <div class="content" id="panel2-3">
    <p>Third panel content goes here...</p>
  </div>
</div>